body
    fs(16px)
    line-height: 1.3
    color: rgba($text, .8)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility

header
    height $headerHeight
    flexbox()
    background-color $main